body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;   
                height: 90vh;
                background-image: url('https://foni.club/uploads/posts/2023-02/1675480895_foni-club-p-fon-krasivii-4k-2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }

            header {
                background-color: #333;
                color: #fff;
                padding: 10px;
                text-align: center;
            }

            nav {
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }

            nav a {
                color: #fff;
                text-decoration: none;
                padding: 10px;
                margin: 0 10px;
                border-radius: 3px;
                transition: background-color 0.3s;
            }

            nav a:hover {
                background-color: #555;
            }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
            }

            h1, h2 {
                color: #333;
            }

            label {
                display: block;
                margin-bottom: 5px;
            }

            textarea {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                box-sizing: border-box;
            }

            button {
                padding: 10px 15px;
                background-color: #ab02ab;
                color: #fff;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                margin-right: 10px;
            }

            button:hover {
                background-color: #f797e5;
            }

            #result {
                margin-top: 10px;
                width: 500px;
                color: #333;
                display: inline-block; /* Добавлено для корректного отображения кнопки */
            }

            #copyBtn {
                padding: 10px 15px;
                background-color: #ab02ab;
                color: #fff;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }

            #copyBtn:hover {
                background-color: #f797e5;
            }
